body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
}

/* Typography */
.link-list {
  color: #fff;
  padding-top: 40px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  fill: #fff;
}

h1 {
  text-align: center;
}

/* Buttons */
.hamburger-icon {
  font-size: 60px;
  color: #000;
}

/* Progress Bar */
.progress-container {
  display: flex;
  align-items: space-between;
  margin-bottom: 20px;
}

.main-progress-bar {
  background-color: #172662;
  width: 80%;
  border-radius: 15px;
  border: solid 1px #000;
  height: 15px;
  margin-right: 20px;
}

.progress-bar {
  background-color: #f8694c;
  color: orange;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  height: 15px;
  width: 75%;
}

/* Content */
header {
  margin: 0 auto;
  width: 60%;
}

main header {
  margin: 0 auto;
  padding-bottom: 40px;
}

img {
  display: inline-block;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  position: relative;
  min-height: 500px;
  border: solid 2px #000;
  margin: 0 auto 50px;
  width: 80%;
  overflow: hidden;
}

.container {
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  min-height: 400px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
}

.logo {
  margin: 0 auto;
  width: 60%;
  object-fit: contain;
}

.nav-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-footer {
  text-align: center;
  width: 80%;
}

.card-illustration {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  z-index: -1;
}

.container header {
  position: absolute;
  z-index: 2;
  text-align: right;
}

.illustration {
  position: fixed;
  bottom: 0;
  width: 50%;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.card header {
  text-align: right;
  padding: 25px 0 0 0;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #172662; /* Blue*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
a:focus {
  color: #ee654e;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */

@media only screen and (min-width: 601px) {
  section {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    position: relative;
    min-height: 500px;
    border: solid 2px #000;
    margin: 0 auto 50px;
    width: 40%;
    overflow: hidden;
  }

  .illustration {
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: width 0.3s ease-in-out;
  }
}
